.modal{
    position: absolute;
    width:50%;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 100;
    margin-left: auto;
    margin-right: auto;
    left:25%;
    border-radius: 10px;
    animation: modalappear .8s linear forwards;
    transition: opacity .7s linear;
    opacity: 0;
}
@keyframes modalappear {
    from{
        opacity: 0;
    }to{
        opacity: 1;
    }
}
.modalheader{
    
}
.modalclose{
   
    position: relative;
    width:15px;
    height: 15px;
    left:calc(100% - 30px);
    top:10px;
}
.modalclose:hover{
    cursor: pointer;
}
.modalclose::before{
    content: " ";
    width:15px;
    position: absolute;
    left:calc(100% - 15px);
    
    border:3px solid black;
    transform: rotate(45deg);
}
.modalclose::after{
    content: " ";
    position: absolute;
    width:15px;
    left:calc(100% - 15px);
    
    border:3px solid black;
    transform: rotate(-45deg);
}
.modaltitle{
    text-align: center;
}
.editoptions{
    border: 2px solid purple;
    padding: .5rem;
    margin:.3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.emailform,.passwordform{
   display: flex;
   align-items: center; 
}
.passwordform{
    margin-top:1rem;
}
.emailinput,.passwordinput{
    background:transparent;
    border:.5px solid slategray;
    border-radius: 10px;
    padding: .3rem;
    margin-left: 2rem;
}
.emailinput{
    margin-left: 3.5rem;
}
.passwordinput{
    margin-left: 1.5rem;
    
}
.changebutton{
    padding:.5rem;
    border:none;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    font-size: .8rem;
    outline:none;
    margin-left: .5rem;
}
.changebutton:active{
    transform: scale(1.05);
}