.maincontainer{
  position: absolute;
  padding:1.2rem;
  margin: 0 auto 0 auto;
  left: 48%;
  top: 42%;
}
.login{
  padding: .5rem;
  width: 10.2rem;
  height:3.5rem;
  line-height: 2rem;
  text-align: center;
  background:#dedce1;
  border: 1px solid #9AA0A8;
  border-radius: 5px;
}
.login:hover{
  cursor: pointer;
}
.login:active{
  background-color: blueviolet;
}