.usereditmaincontainer{
}
.userschart{
    margin-top:1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    backdrop-filter: blur(10px);
    background-color: transparent;
    width:50%;
    margin-left: auto;
    margin-right: auto; 
    margin-top: 5px;
    border-radius: 10px;

}
.userscontainer{
    margin-top: .4rem;
    display: flex;
    justify-content: space-between;
    padding:.3rem;
    flex-wrap: wrap;
}
.user{
    flex: 1 0 30%;
    background:#48cae4;
    padding:.5rem;
    margin-left: .2rem;
    margin-top: .3rem;
    border-radius: 10px;
}
.user:first{
    margin-left: 0;
}

.useremail{
    font-size: 1rem;
    text-align: center;
}
.buttongroup{
    display: flex;
    justify-content: center;
    margin-top: .5rem;
}
.emailbutton,.deletebutton{
    padding:.5rem;
    border:none;
    background: transparent;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    font-size: .8rem;
    z-index: 100;
    width: 7.5rem;
    outline:none;
    transition: scale .3s linear ;
}
.deletebutton{
    margin-left: .3rem;
}
.emailbutton:active, .deletebutton:active{
    transform: scale(1.05);
}