.usermaincontainer{
}
.userheader{
    display: flex;
    padding:.5rem;
    justify-content: space-between;
    background: #0096c7;
    box-shadow: 0px 3px black; 
   
}
.menubutton,.logoutbutton{
    padding:.5rem;
    border:none;
    background: transparent;
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 10px;
    font-size: 1rem;
    z-index: 100;
}
.lielement{
    cursor: pointer;
}
.logoutbutton:hover{
    cursor: pointer;
}
.menu{
    position: absolute;
    left:-10rem;
    top:.5rem;
    padding: 0;
    padding-top: 1.2rem;
    padding-left: .3rem ;
    z-index: 200;
}
.menuclassanimation{
    animation: menuappear .7s linear forwards;
}
.menuclassanimationnext{
    animation: menuappearoff .7s linear forwards;
}
@keyframes menuappear{
    to{
        left:0;
    }
}
@keyframes menuappearoff{
    from{
        left:0;
    }to{
        left:-10rem;
    }
}
.menuchild{
    border-bottom: .2rem solid black;
    padding: .5rem 1.2rem .5rem 0rem;
    display: block;
    width: 9rem;
    text-align: center;
    margin-top: .5rem;
    background-color:  rgba(255, 255, 255, 0.95);
    z-index: -5;
}
.menuchild:hover{
    cursor: pointer;
}
.usersubmenu{
    display: none;
    padding-left: 3rem;
    z-index: 200;
}
.usersubmenu > li{
    font-size: 1.1rem;
    width: 6rem;
    margin-top: .5rem;
    border-bottom: 1px solid black;
    padding: .2rem;
    display: block;
    opacity:0;
    z-index: 200;
}
.usersubelementnanimation{
    animation: appearsubelement .3s linear forwards;
   
}
@keyframes appearsubelement{
    from{
        opacity: 0;
    }to{
        opacity:1;
        display: block;
    }
}
.usersubelementnanimationoff{
    animation: appearsubelementoff .3s linear forwards;
}
@keyframes appearsubelementoff{
    from{
        opacity: 1;
    }to{
        opacity:0;
        display: none;
    }
}
.usercardbackground{
    padding: .3rem;
    background:#90e0ef;
    background: linear-gradient(45deg, #90e0ef 75%, white 25%);
}
.userinfoCard{
    
    border-radius: 15px;
    padding:.65rem;
    display: flex;
    justify-content: center;
    width:50%;
    margin: 1.3rem auto 1rem auto;
    background-color: rgba(255, 255, 255, 0.95);

}
@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    .userinfoCard {
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      background-color: rgba(255, 255, 255, 0.5);  
    }
    .menubutton,.logoutbutton, .menuchild{
        -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      background-color: rgba(255, 255, 255, 0.5);
    }
}
.email,.accounttype{
    font-size: 1.05rem;
    font-family: 'Roboto', sans-serif;
    margin-top:.4rem;
    line-height: 1.5rem;

}