.maincomponent{
    display: flex;
    flex-direction: column;
    width:75%;
    margin: 1rem auto 0 auto;
    justify-content: center;
    align-items: center;
}

.label{
    font-size: 1.1rem;
    padding: .3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.label__petselect{
    padding:.3rem;
    border: .005rem solid slategray;
    background: transparent;
    backdrop-filter: blur(10px);
    background-color: rgba(255,255,255,.5);
    outline: none;
    border-radius: 10px;
    margin-top: .4rem;
    margin-left: 1rem;
    width:10rem;
}
.petbutton{
    border:none;
    padding:.5rem;
    margin-top: .5rem;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    background-color: rgba(255,255,255,.5);
    width:10rem;
    margin-left: 1rem;
    outline:none;
}
.maincomponent{
    display: flex;
    margin-left:auto;
    margin-right: auto;
    width:90%;
}
.pets{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    padding: .3rem;
    width:100%;
}
@media (max-width:1000px){
    .pets{
    }
}
.petcomponent{
    background-color: #48cae4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 10px;
    width: 15.5rem;
    font-size: .8rem;
    margin-top: .3rem;
    box-shadow: 1px 1px 3px 3px lightgray;
    box-sizing: border-box;
    opacity: 0;
    animation: petscomponent .4s ease-in forwards;
    transition: opacity .3s ease-in;
}

@keyframes petscomponent{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.petcomponent__petinfo{
    width: 65%;
    padding: .3rem;
}
.petbuttons{
    width:35%;
    position: relative;
    height: 100%;

}
.petbuttons__deletebutton,.petbuttons__editbutton{
    border: none;
    outline:none;
    width: 100%;
    height: 100%;
    font-size: 1.05rem;
    position: relative;
    padding:.3rem;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    
    
}
.petbuttons__deletebutton{
    border-top-right-radius: 10px;
}
.petbuttons__editbutton{
    border-bottom-right-radius: 10px;
    
}
.petbuttons__deletebutton:hover,.petbuttons__editbutton:hover{
    border:.1rem solid slategray;
    cursor: pointer;
}