.createusermaincontainer{
    padding: .5rem;
    box-sizing: border-box;
    margin-top:1.5rem
}
.createusermaincontainertitle{
   
    text-align: center;
}
.createuserform{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: .5rem;

}
.emaillabel,.passwordlabel,.choicelabel{
    font-size: 1.1rem;
    padding: .3rem;
    display: block;
}
.emailinput,.passwordinput,.usertypeselect{
    padding: .3rem;
    margin-left: 1rem;
    border: 1px solid  slategray;
    background: transparent;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 1);
    outline: none;
    border-radius: 10px;
}
.emailinput{
    margin-left: 3.2rem;
    margin-top:.5rem;
}
.passwordinput{
    margin-top: .5rem;
}
.usertypeselect{
    margin-top: .5rem;
    width:10rem;
    margin-right: 1.5rem;
}
.usercreatesubmitbutton{
    padding:.5rem;
    margin-top:1.5rem;
    border-radius: 10px;;
    line-height: 1.3rem;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.5);
    width:10rem;
    border: 0.1rem solid slategray;
    margin-left: 1rem;
}
