.maincomponent {
  opacity: 0;
  animation: appear 0.5s ease forwards;
  transition: opacity 0.5s ease-in;
}
@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.visits {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0.5rem;
}
.visit {
  display: flex;
  flex-direction: column;
  flex: 1 0 30%;
  padding: .4rem 0rem;
  margin: 0.5rem;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
  background-color: #48cae4;
  border-radius: 10px;
}
.buttongroup {
  display: flex;
  justify-content: center;
}
.moreinfobutton {
  padding: 0.5rem;
  border: none;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  font-size: 0.8rem;
  width: 7.5rem;
  outline: none;
  transition: scale 0.3s linear;
}
.moreinfobutton:active {
  transform: scale(1.05);
}
.moreinfocomponent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
  padding: 0.5rem;
  width:50%;
  margin-left: auto;
  margin-right: auto;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
}
.wheninfo {
}
.whereinfo {
}
.petinfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.arrowcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
.arrowcontainer:hover {
  cursor: pointer;
}
.leftarrow {
  width: 50px;
  height: 50px;
  position: relative;
}
.leftarrow::before {
  content: " ";
  width: 40px;
  height: 20px;
  top: 25%;
  left: 20%;
  position: absolute;
  background-color: slategray;
  border: 1px solid slategray;
}
.leftarrow::after {
  content: " ";
  height: 0;
  width: 0;
  border: 20px solid slategray;
  border-bottom-color: transparent;
  border-top-color: transparent;
  border-left-color: transparent;
  position: absolute;
  left: -30px;
  top: 7.5%;
}
.buttongroup{
  display: flex;
  box-sizing: border-box;
  padding: .6rem .4rem .4rem .4rem;
}
.editbutton{
  padding:.5rem;
  outline: none;
  border:none;
  backdrop-filter: blur(10px);
  background-color: rgba(255,255,255,.5);
  border-radius: 10px;
  font-size: .8rem;
  width: 7.5rem;
  transition: scale .3s linear;
  
}
.editbutton:nth-of-type(2){
  margin-left: .5rem;
}
.editbutton:hover{
  cursor: pointer;
  backface-visibility: hidden;
  transform: perspective(1px) translateZ(0);
  transform: scale(1.048);
}