coverage/
Vet-Front/.*
Vet-Front/node_modules/
Vet-Backend/node_modules
Vet-Backend/firebaseconfig.json
Vet-Backend/v*.json
Vet-Backend/firebaseconfig.js
Vet-Backend/.env
Vet-Front/firebase.js
Vet-Front/*.apk
Vet-Front/app.json
Vet-Front/VSCodeUser*
Vet-Backend/.nyc_output
Vet-Backend/middleware/medicinedatabase.py