.maincomponent {
  position: absolute;
  border: 2px solid red;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 45rem;
  z-index: 2000;
  background-color: rgba(255, 255, 255, 0.5);
  margin-left: auto;
  margin-right: auto;
  backdrop-filter: blur(10px);
  box-sizing: border-box;
  padding: 0.5rem;
  border-radius: 10px;

}
.maincomponent__header {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}
.header__closemodal {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 0;
}
.header__closemodal::before {
  content: " ";
  width: 20px;
  height: 5px;
  top: 30%;
  transform: rotate(45deg);
  background: black;
  position: absolute;
}
.header__closemodal::after {
  content: " ";
  width: 20px;
  height: 5px;
  top: 30%;
  transform: rotate(-45deg);
  background: black;
  position: absolute;
}
.header__closemodal:hover::before {
  background: slategray;
}
.header__closemodal:hover::after {
  background: slategray;
}
.maincomponent__recip {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: .2rem;
}
.recip__choice {
  width:80%;
  border: 2px solid slategrey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.choice__select {
  padding: .2rem;
  border: .1rem solid slategrey;
  border-radius: 10px;
  width: inherit;
  margin-left: .5rem;
  height:2rem;
}
.recip__medicineinfo{
  display: flex;
  flex-direction: column;
  width:80%;
  margin-left: auto;
  margin-right: auto;
  min-height: 12rem;
  justify-content: center;
  margin-top:.3rem;
}
.medicineinfo__doubleinf{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.medicineinfo__desc{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem 2.5rem;
}
.button__group{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: .4rem;
}
.medicineinfo__addbutton{
  width: 30px;
  height: 30px;
  position: relative;
  border-radius: 50%;
  background-color: lightblue;
  cursor: pointer;
}
.medicineinfo__addbutton::before{
  content:" ";
  width: 20px;
  height: 3px;
  background: lightslategrey;
  position: absolute;
  left:50%;
  top:50%;
  transform: translate(-50%,-50%);
}
.medicineinfo__addbutton::after{
  content:" ";
  width: 20px;
  height: 3px;
  background: lightslategrey;
  position: absolute;
  left:50%;
  top:50%;
  transform: translate(-50%,-50%) rotate(90deg);
}
.maincomponent__medicinelist{
  display: flex;
  flex-direction: column;
}