.maincomponent {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 45rem;
  z-index: 2000;
  background-color: rgba(255, 255, 255, 0.5);
  margin-left: auto;
  margin-right: auto;
  backdrop-filter: blur(10px);
  box-sizing: border-box;
  padding: 0.5rem;
  border-radius: 10px;
  min-height: 5rem;
  border: .12rem solid lightsteelblue;

}

@media (max-width:850px){
  .maincomponent{
    width:35rem;
  }
}
@media (max-width:700px){
  .maincomponent{
    width:auto;
  }
  .medicineinfo__desc{
    margin: 0;
    overflow: auto;
    
    max-height: 10rem;
  }
  .recip__medicineinfo{
    width: 100%;
    display: block;
    margin:0;
  }
  .maincomponent__recip{
    display: block;
    width:100%;
    margin:0;
    padding:0;
  }
}
.maincomponent__header {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}
.header__closemodal {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 0;
}
.header__closemodal::before {
  content: " ";
  width: 20px;
  height: 5px;
  top: 30%;
  transform: rotate(45deg);
  background: black;
  position: absolute;
}
.header__closemodal::after {
  content: " ";
  width: 20px;
  height: 5px;
  top: 30%;
  transform: rotate(-45deg);
  background: black;
  position: absolute;
}
.header__closemodal:hover::before {
  background: slategray;
}
.header__closemodal:hover::after {
  background: slategray;
}
.maincomponent__recip {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: .2rem;
}
.recip__choice {
  width:80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.choice__select {
  padding: .4rem;
  box-sizing: border-box;
  line-height: 1.2rem;
  background:transparent;
  outline: none;
  border: none;
  border-bottom: 1px solid lightsteelblue;
  width: inherit;
  margin-left: .5rem;
  height:2.8rem;
  font-size: .95rem;
}
.recip__medicineinfo{
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  min-height: 12rem;
  justify-content: center;
  margin-top:.3rem;
}
.medicineinfo__doubleinf{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 5px;
}
.medicineinfo__desc{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem 2.5rem;
}
.button__group{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .4rem;
}
.medicineinfo__addbutton{
  width: 30px;
  height: 30px;
  position: relative;
  border-radius: 50%;
  background-color: lightblue;
  cursor: pointer;
}
.medicineinfo__addbutton::before{
  content:" ";
  width: 20px;
  height: 3px;
  background: lightslategrey;
  position: absolute;
  left:50%;
  top:50%;
  transform: translate(-50%,-50%);
}
.medicineinfo__addbutton::after{
  content:" ";
  width: 20px;
  height: 3px;
  background: lightslategrey;
  position: absolute;
  left:50%;
  top:50%;
  transform: translate(-50%,-50%) rotate(90deg);
}
.maincomponent__medicinelist{
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  padding: .6rem;
  width:100%;
  justify-content: center;
}
.medicinelist__medicinecomponent{
  display: flex;
  justify-content: flex-start;
  width:100%;
  margin-top:.4rem;
}
.medicinecomponent__name{
  width: 7rem;
}
.medicinecomponent__number{
 width:7rem;
 text-align: center;
}
.w100{
  width: 100%;
  text-align: center;
}
.button__recip{
  display: flex;
  justify-content: center;
  padding:.4rem;
}
.button__recipcreate{
  border: none;
  outline:none;
  background: lightskyblue;
  border-radius: 10px;
  padding: .4rem;
}