.maincomponent {
  display: flex;
  position: relative;
  flex-direction: column;
  margin:0;
}
.maincomponent__header {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  background: lightblue;
}
.header__text {
  
  padding: 0.5rem;
}
.maincomponent__doctorinfo{
    display: flex;
    flex-wrap: wrap;
    border: 2px solid black;
}
.doctorinfo__petinfo{
    width: 50%;
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: .7rem;
    box-sizing: border-box;
}
.doctorinfo__petinfo > *{
  width: 50%;
  padding:.3rem;
  display: flex;
  justify-content: center;
}
.doctorinfo__otherinfo{
    width:50%;
    border: 2px solid purple;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:0;
}
.petinfo__buttons{
    display: flex;
    flex-wrap:wrap ;
    justify-content: space-between;
    align-items: center;
    margin-top:0;   
}
.buttons__button{
    width: 7rem;
    font-size: 1rem;
    border: none;
    outline:none;
    padding: .2rem;
    border: .01rem solid slategray;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    background-color: lightblue;
    backdrop-filter: blur(10px);
    margin-top: .3rem;
}
.petinfo__notes{
  border: 2px solid green;
  width:100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.notes__note{
  outline: 2px solid lightseagreen;
  margin: .3rem;
  padding: .2rem;
}
.visit__recips{
  border: 2px solid red;
  width:100%;
  display: flex;
  flex-wrap: wrap;
  padding: .3rem;
}
.recipes__recip{
  margin-left: 1.3rem;
  height: fit-content;
  padding:.4rem;
  box-shadow: 5px 5px 5px 0 lightslategrey;
  background: whitesmoke
}
@media (max-width: 700px){
  .maincomponent__doctorinfo{
    flex-direction: column;
  }
  .doctorinfo__petinfo{
    width: 100%;
  }
  .doctorinfo__otherinfo{
    width: 100%;
  }
}