.maincomponent {
  display: flex;
  position: relative;
  flex-direction: column;
  margin:0;
}
.maincomponent__header {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  background: lightblue;
}
.header__text {
  
  padding: 0.5rem;
}
.maincomponent__doctorinfo{
    display: flex;
    flex-wrap: wrap;
}
.doctorinfo__petinfo{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: .7rem;
    box-sizing: border-box;
    border-right: .1rem solid slategray;
}
.doctorinfo__petinfo > *{
  width: 50%;
  padding:.3rem;
  display: flex;
  justify-content: center;
}
.doctorinfo__otherinfo{
    width:50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:0;
}
.petinfo__buttons{
    display: flex;
    flex-wrap:wrap ;
    justify-content: space-between;
    align-items: center;
    margin-top:0;   
}
.buttons__button{
    width: 7rem;
    font-size: 1rem;
    border: none;
    outline:none;
    padding: .2rem;
    border: .01rem solid slategray;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    background-color: lightblue;
    backdrop-filter: blur(10px);
    margin-top: .3rem;
}
.petinfo__notes{
  width:100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.notes__note{
  margin: .3rem;
  padding: .2rem 1rem;
  border: .1rem solid lightgray;
  box-shadow: .1rem .1rem .1rem 0 lightslategrey;
  border-radius: 10px;
  min-width: 10rem;
  text-align: center;
}
.notes__delete{
  position: absolute;
  font-size: 1rem;
  z-index: 100;
  background: wheat;
  padding: 5px;
  width: 5rem;
  border-radius: 4px;
  display: none;
  color: rgba(0,0,0,.9);
}
@keyframes span{
  from{
    display: none;
  }
  to{
    display: inline;
  }
}
.notes__button{
  outline: none;
  border: none;
  cursor: pointer;
  height:25px;
  width:25px;
  border-radius: 50%;
  position: relative;
  background: whitesmoke;
}
.notes__button::after{
  content: "";
  position: absolute;
  right:2px;
  top:10px;
  width:20px;
  background: lightslategrey;
  height: 3px;
}
.visit__recips{
  width:100%;
  display: flex;
  flex-wrap: wrap;
  padding: .3rem;
}
.recipes__recip{
  margin-left: 1.3rem;
  height: fit-content;
  padding: .3rem 0.1rem;
  box-shadow: .05rem .05rem .05rem .05rem lightslategrey;
  background: whitesmoke;
  border-radius: 10px;
  min-width: 11rem ;
  min-height: 7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.recip__medname{
  line-height: 2rem;
  font-size: 1.05rem;
  text-align: center;
  width:100%;
}
.recip__medname:not(:first-child){
  border-top:.1rem solid slategray;
}
@media (max-width: 700px){
  .maincomponent__doctorinfo{
    flex-direction: column;
  }
  .doctorinfo__petinfo{
    width: 100%;
  }
  .doctorinfo__otherinfo{
    width: 100%;
  }
  .recip__medname{
    font-size: 1rem;
  }
  .doctorinfo__petinfo{
    border: none;
  }
}